<?xml version="1.0"?>
<model>
  <name>3DR Iris with parameters uncertainties</name>
  <version>1.0</version>
  <sdf version='1.6'>iris_delta_p10.sdf</sdf>

  <author>
   <name>Salvatore Marcellini</name>
   <email>salvatore.marcellini@unina.it</email>
  </author>

  <description>
    This is a model of the 3DR Iris Quadrotor. The original model has been created by
    Thomas Gubler and is maintained by Lorenz Meier.
  </description>
</model>
